@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --gk-primary: #3f3fba;
  --gk-accent: #ffb300;
  --gk-text: #212121;
  --gk-tabInactive: #b0bec5;
  --gk-background: #f5f5f5;
  --gk-baseBackground: #6363d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6363d4;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
